<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeK7bPkNL3HBMOUyfOOzXNV8YoCJs0od8</string>
	<key>GCM_SENDER_ID</key>
	<string>10680253495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.priceCatalogApp</string>
	<key>PROJECT_ID</key>
	<string>pricecatelogapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pricecatelogapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10680253495:ios:b55d85e549aabafbb013b2</string>
</dict>
</plist>